@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto',sans-serif;
	color: #585656;
	background: #232323;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #6dcc9e;
	outline: none;
	cursor: pointer;
}

a:hover {
	color: #fff;
}

a:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.js .loading {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #232323;
	transition: opacity 0.3s;
}

.js .loading--hide {
	pointer-events: none;
	opacity: 0;
}

.js .loading::after {
	content: '- - -';
	font-family: 'Roboto Mono', monospace;
	font-size: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	animation: animLoader 1s infinite alternate forwards;
}

@keyframes animLoader {
	0% {
		content: '- - -';
	}
	25% {
		content: 'd - -';
	}
	50% {
		content: '- - c';
	}
	75% {
		content: '- / -';
	}
	100% {
		content: 'd - c';
	}
}

.github {
	font-size: 0.875em;
	margin: 0 2em 0 auto;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--menu {
	font-size: 1em;
	margin: 0 0 0 2em;
	padding: 0;
	color: #585656;
}

.btn--menu .icon--menu-alt,
.btn--menu.mode--code .icon--menu {
	display: none;
}

.btn--menu.mode--code .icon--menu-alt {
	display: block;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.controls .fab {
	color:  #484545;
}

.controls .fab:hover {
	color:  #fff;
}


/* Content */
.content,
.content__inner {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.content__inner {
	z-index: 100;
	flex-direction: column;
	align-content: flex-start;
	padding: 2.5em 2.5em 0;
}

.content__top {
	display: flex;
	align-items: center;
	flex: none;
	width: 100%;
}

.title {
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
	display: flex;
	align-items: center;
	height: 1.75em;
	margin: 0;
}

.title__inner.mode--design {
	font-size: 1.5em;
}

.title__inner.mode--code {
	text-transform: lowercase;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 9em;
	margin: 0 0 0 auto;
}

.codrops-icon {
	color: #484545;
}

.mode--code {
	font-family: 'Roboto Mono', monospace;
	text-transform: lowercase;
	color: #e04643;
}

.menu--code .menu__link {
	font-family: 'Roboto Mono', monospace;
	color: #c0c0c0;
}

.menu {
	font-size: 1.85em;
	flex: none;
	width: 100%;
	margin: 0.5em 0 0 0;
	text-align: right;
}

.menu__inner {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

.menu__inner-bottom {
	position: absolute;
	right:  2.5em;
	bottom: calc(13em + 5vh);
}

.menu--code {
	font-size: 1em;
	flex: none;
	width: 100%;
	/* margin: 8em 0 2em 0; */
	text-align: left;
}

.menu:not(.menu--code) .menu__item {
	position: relative;
}

.menu__item:not(:last-child) {
	margin: 0 0 0.3em 0;
}

.menu--code .menu__item:not(:last-child) {
	margin: 0 0 0.8em 0;
}

.js .menu--code {
	display: none;
}

.menu__link {
	display: inline-block;
}

.content__bottom {
	display: flex;
	align-items: center;
	width: 100%;
	margin: auto 0 0 0;
}

.switch {
	position: relative;
	display: flex;
	align-items: center;
}

.switch__content {
	display: flex;
}

.switch__item {
	line-height: 1;
	position: relative;
	display: inline-block;
	margin: 0 1.5em 0 0;
	padding: 0 0 0.15em;
	color: #585656;
}

.switch__item span {
	position: relative;
	display: inline-block;
	pointer-events: none;
}

.switch__item--current {
	pointer-events: none;
	color: #232323;
	background-color: #6dcc9e;
}

.mode--code .switch__item--current {
	color: #232323;
	background-color: #e04643;
}

.switch__item:first-child::after {
	content: '';
	position: absolute;
	top: -5%;
	left: calc(100% + 0.75em);
	width: 1px;
	height: 110%;
	background: #464646;
	transform: rotate(22.5deg);
}

.link-wrap {
	display: flex;
	align-items: center;
	height: 4em;
	margin: 0 0 0 auto;
}

.contact-link {
	display: inline-block;
	padding: 1em 0;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(107, 87, 86, 0.22);
	opacity: 0;
}

.logo {
	display: inline-block;
	background-color: #e04643;
	color: #fff;
	text-transform: uppercase;
	font-family: 'League Spartan';
	padding: 5px 6px 0 5px;
	line-height: 23px;
	font-size: 14px;
	letter-spacing: 1.7px;
}

.logo i {
	position: relative;
	top: -1px;
}

.title {
	position:  absolute;
	z-index:  1000;
	left: 2.5em;
    bottom: calc(8em + 5vh);
}

.sub-title {
	position:  absolute;
	z-index:  1000;
	left: 2.5em;
    bottom: calc(3em + 5vh);
    font-size: 1em;
    font-weight: 500;
   	color: #8e8e8e;
   	line-height: 24px;
   	letter-spacing: 0.3px;
}

.sub-title .part1 {
	color: #c0c0c0;
	text-transform: uppercase;
}

.sub-title .part2 {
	color: #484545;
}

.white {
	color: #fff;
}

.hidden_menu {
	visibility: hidden; 
	font-size: 1.85em; 
	flex: none;
	margin: 1em auto 0 0; 
	text-align: left;
	display: inline-block;
	font-size: 1.5em;
}

.visibility {
	visibility: visible;
}

.portfolio-gallery {
	width: 100%;
	text-align: left;
	font-size: 0;
	margin-bottom: 20px
}

.portfolio-gallery__item {
	display: inline-block;
	font-size: 20px;
	width:  32.33%;
	margin: 1% 1% 0 0;
	/* margin: 0 2% 2% 0; */
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height:  270px;
}

.overlay-new {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.7);
}

.text {
	font-family: 'League Spartan';
	color: white;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.portfolio-gallery__item:hover .overlay-new {
	opacity: 1;
}

.portfolio-gallery__item:first-child {
	background-image: url('../img/item1.jpg');
}

.portfolio-gallery__item:nth-child(2) {
	background-image: url('../img/item2.jpg');
}

.portfolio-gallery__item:nth-child(3) {
	background-image: url('../img/item3.jpg');
}

.portfolio-gallery__item:nth-child(4) {
	background-image: url('../img/item4.jpg');
}

.portfolio-gallery__item:nth-child(5) {
	background-image: url('../img/item2.jpg');
}

.portfolio-gallery__item:nth-child(6) {
	background-image: url('../img/item3.jpg');
}

.contacts_list {
	list-style-type: none;
	text-align: right;
	display: none;
	width: 100%;
	margin-top: 1em;
}

.contacts_list li i {
	position: relative;
	top: 1px;
}

.contacts_list li {
	margin: 20px 0;
}

.contacts_list li a {
	color: #c0c0c0;
	margin-left: 5px;
}

.contacts_list li a:hover {
	color: #fff;
}

@media screen and (max-width: 3000px) {
	.portfolio-gallery__item {
		height:  310px;
	}
}

@media screen and (max-width: 1919px) {
	.portfolio-gallery__item {
		height:  270px;
	}
}

@media screen and (max-width: 900px) {
	.portfolio-gallery__item {
		width: 49%;	
	}
}

@media screen and (max-width: 750px) {
	.contacts_list {
    	position: absolute;
    	bottom: calc(8em + 5vh);
    	right: 2.5em;
	}
}



@media screen and (max-width: 570px) {
	.portfolio-gallery__item {
		width: 100%;
		margin: 0 0 15px 0;

	}
}

@media screen and (max-width: 40em) {
	.contacts_list {
		font-size: 0.85em;
		right: calc(1em + 2px);
	}

	.menu__inner {
		font-size: 0.75em;
	}

	.menu--code .menu__inner {
		font-size: 0.75em;
	}

	.menu__inner-bottom {
		right: 1em;
		bottom: calc(11em + 5vh);
		max-width:  290px;
	}

	.content__top {
		font-size: 1em;
	}
	.content__bottom {
		font-size: 0.85em;
	}

	.content__inner {
		padding: 1em 1em 0;
	}
	.title {
		left: calc(1em + 2px);
		bottom: calc(6em + 5vh);
		font-size: 0.85em;
	}
	.sub-title {
		left: calc(1em + 2px);
		bottom: calc(1em + 5vh);
		font-size: 0.85em;
	}
}
